<div class="container" *ngIf="cartTotal !== 0">
  <div class="level">
    <h1 class="title level-left">Shopping Cart</h1>
    <h1 class="title is-5 level-left">Price</h1>
  </div>

  <article class="media" *ngFor="let item of cartItems$ | async">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="{{item.image}}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{item.title}}</strong>
          <br>
          {{item.description}}
        </p>
      </div>
      <nav class="level-left is-mobile">
        <a class="level-item" (click)="removeFromCart(item)">
          <span class="is-small">Remove from cart</span>
        </a>
      </nav>
    </div>
    <div class="level">
      <span>${{item.price}}</span>
    </div>
  </article>
  <article class="level-right">
    <span class="level-item">Subtotal: ${{cartTotal}}</span>
  </article>
  <div class="level-right" style="margin-top: 8px;">
    <button class="button is-primary">Checkout</button>
  </div>
</div>
<app-cart-empty *ngIf="cartTotal === 0"></app-cart-empty>
