<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="/assets/images/navbar-logo-wide.png" class="navbar-logo" >
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <!-- <button class="button">
          <span title="Badge top right" class="badge">8</span>
          Button
        </button> -->
        <app-badge></app-badge>
        <span class="icon is-light is-large">
          <i class="fas fa-shopping-cart"></i>
        </span>
      </div>
    </div>
  </div>
</nav>
