
/* Default theme. ~960B */
@import '~@vime/core/themes/default.css';

/* You can add global styles to this file, and also import other style files */
$toast-margin: 8px;
.toast {
  position: fixed !important;
  z-index: 101;
  top: $toast-margin;
  right: $toast-margin;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
}

.bj-footer {
  padding: 0.2em !important;
  bottom: 0.2em;
}

.bj-card {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  height: 33%;
  max-height: 350px;
}

.bj-card .card-content {
  flex: auto;
}

.bj-content {
  max-height: 45px;
  margin-bottom: 0;
}

.bj-title {
  padding-bottom: 0;
}

.is-circular { border-radius: 50% !important; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
