
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blujay-primary: mat-palette($mat-indigo);
$blujay-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$blujay-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blujay-theme: mat-light-theme((
  color: (
    primary: $blujay-primary,
    accent: $blujay-accent,
    warn: $blujay-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($blujay-theme);


/* Default theme. ~960B */
@import '~@vime/core/themes/default.css';

/* You can add global styles to this file, and also import other style files */
$toast-margin: 8px;
$toast-top-margin: 66px;
.toast {
  position: fixed !important;
  z-index: 101;
  top: $toast-top-margin;
  right: $toast-margin;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
}

.bj-footer {
  padding: 0.2em !important;
  bottom: 0.2em;
}

.bj-card {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  height: 33%;
  max-height: 350px;
}

.bj-card .card-content {
  flex: auto;
}

.bj-content {
  max-height: 45px;
  margin-bottom: 0;
}

.bj-title {
  padding-bottom: 0;
}

.is-circular { border-radius: 50% !important; }

.add-to-cart-width {
  width:93px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
