<div class="container">
  <article class="panel is-warning">
    <p class="panel-heading">
      Tracks
    </p>
    <p class="panel-tabs">
      <a class="is-active">Popular</a>
      <a>EDM</a>
      <a>Trap</a>
      <a>Boom Bap</a>
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-primary" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <div class="panel-block is-active" *ngFor="let track of tracksArr$ | async">
      <img src="{{track.image}}" class="track-image panel-icon"/>
      {{track.title}}
      <div class="buttons panel-buttons">
        <button class="button is-circular" (click)="playTrack(track)">
          <span class="icon is-small">
            <i class="fas fa-play"></i>
          </span>
        </button>
        <button class="button is-circular" (click)="addToCart(track)" *ngIf="!track.inCart">
          <span class="icon is-small">
            <i class="fas fa-cart-plus"></i>
          </span>
        </button>
        <button class="button is-circular" (click)="removeFromCart(track)" *ngIf="track.inCart">
          <span class="icon is-small">
            <i class="fas fa-minus"></i>
          </span>
        </button>
      </div>
    </div>
  </article>
</div>
